language: android
sudo: required
jdk: oraclejdk8
env:
  global:
    - ANDROID_API_LEVEL=29
    - ANDROID_BUILD_TOOLS_VERSION=29.0.3
    - TRAVIS_SECURE_ENV_VARS=true
  matrix:
    - ANDROID_TARGET=android-19  ANDROID_ABI=armeabi-v7a


before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache


before_install:
  - chmod +x gradlew


android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - tools
    # - platform-tools
    ## https://www.pgyer.com/doc/view/travis_android

    # The BuildTools version used by your project
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION

    # The SDK version used to compile your project
    - android-$ANDROID_API_LEVEL

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-26

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
#    - sys-img-armeabi-v7a-android-26
#    - sys-img-armeabi-v7a-android-19
  licenses: #内容许可添加
    - android-sdk-preview-license-.+
    - android-sdk-license-.+
    - google-gdk-license-.+

before_script:
  - cd _011_androidX

script:
# - "./gradlew clean assembleRelease --stacktrace --daemon"
  - "./gradlew clean assembleDebug --stacktrace --daemon"
