<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.me.harris.androidanimations">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".viewAnimations.ViewAnimationActivity"/>
        <activity android:name=".propertyanimations.PropertyAnimationActivity"/>
        <activity android:name=".drawableAnimations.DrawableAnimationActivity"/>


        <!--ApiDemo中部分动画展示-->
        <activity android:name=".apidemo.BouncingBalls"/>
        <activity android:name=".apidemo.ShadowCardDrag"/>
        <activity android:name=".apidemo.MaterialWitness"/>


        <!--Canva相关自定义View展示-->
        <activity android:name=".canvas.activity.CanvasActivity"
            android:theme="@style/ControlRippleColorTheme"
            />

        <!--用于展示ViewDragHelper-->
        <activity android:name=".apidemo.ViewDragHelperActivity"/>
        <activity android:name=".apidemo.YoutubeActivity"/>
        <activity android:name=".apidemo.LoaderActivity"/>

        <!--用于展示View触控事件分发-->
        <activity android:name=".touch.activity.TouchEventActivity"/>


    </application>

</manifest>