<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.me.harris.androidanimations">

    <uses-sdk
        android:maxSdkVersion="19"
        android:targetSdkVersion="24"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    //Request a permission as runtime only
    <uses-permission-sdk-23 android:name="android.permission.READ_CONTACTS"/>
    //Request a permission as install only,22以上不会请求
    <uses-permission
        android:name="android.permission.READ_CONTACTS"
        android:maxSdkVersion="22"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".MainActivity"
            android:theme="@style/ControlRippleColorTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--用于展示Animation，主要是属性动画-->
        <activity android:name="._05_animation.ViewAnimationActivity"/>
        <activity android:name="._05_animation.PropertyAnimationActivity"/>
        <activity android:name="._05_animation.DrawableAnimationActivity"/>
        <activity android:name="._05_animation.PathAnimationActivity"/>


        <!--ApiDemo中部分动画展示-->
        <activity android:name="._03_apidemo.BouncingBallsActivity"/>
        <activity android:name="._03_apidemo.ShadowCardDrag"/>
        <activity android:name="._03_apidemo.MaterialWitness"/>


        <!--Canva相关自定义View展示-->
        <activity
            android:name="._04_customView.activity.CustomViewActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ControlRippleColorTheme"
            />

        <!--用于展示ViewDragHelper-->
        <activity android:name="._03_apidemo.ViewDragHelperActivity"/>
        <activity android:name="._03_apidemo.YoutubeActivity"/>
        <activity android:name="._11_Loader.LoaderActivity"/>

        <!--展示各种Drawable使用方式入口-->
        <activity android:name="._01_drawable.activity.DrawableMainActivity"/>

        <!--SurfaceView甚至TextureView入口-->
        <activity
            android:name="._02_surfaceview.SurfaceViewActivity"
            android:parentActivityName=".MainActivity"
            />

        <!--用于展示View触控事件分发-->
        <activity android:name="._06_touch.activity.TouchEventActivity"/>

        <!--用于展示Marshmallow运行时权限-->
        <activity android:name="._07_permission.MarshmallowPermissionActivity"/>
        <activity android:name="._07_permission.CameraPreviewActivity"/>


        <!--用于展示CoordinateLayout及Behavior用法-->
        <activity android:name="._08_coordinateLayout.CoordinateLayoutEntrance"/>
        <activity
            android:name="._08_coordinateLayout.CoordinateLayoutActivityOne"
            android:parentActivityName="._08_coordinateLayout.CoordinateLayoutEntrance"/>
        <activity
            android:name="._08_coordinateLayout.CoordinateLayoutActivityTwo"
            android:parentActivityName="._08_coordinateLayout.CoordinateLayoutEntrance"
            android:theme="@style/CoordinateLayoutActivityTwoTheme"/>


        <activity
            android:name="._09_recyclerView.PlainRecyclerViewActivity"
            android:parentActivityName=".MainActivity"/>


        <activity
            android:name="._09_recyclerView.RecyclerViewPrefetcherActivity"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name="._09_recyclerView.diffUtil.DiffUtilActivity"
            android:parentActivityName=".MainActivity"
            />

        <!--用于测试沉浸式状态栏的问题-->
        <activity
            android:name="._10_statusBar.StatusBarActivity_Activity_one"
            android:parentActivityName=".MainActivity"
            android:theme="@style/translucentStatusBar"/>

        <activity android:name="._12_oom_example.OutOfMemoryActivity">

        </activity>

        <activity
            android:name="._13_night_mode.DayNightActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/DayNightDemo"
            />

        <activity android:name="._14_openGL_ES.OpenGLES20Activity"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name="._14_openGL_ES.bouncing_cube.BouncyCubeActivity"
            android:parentActivityName=".MainActivity"
            />

        <activity
            android:name="._17_popup_Window.PopupWindowActivity"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name="._18_animating_binding.AnimatingBindingActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name="._10_statusBar.FitSystemWindowsActivity"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name="._10_statusBar.PlainActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/translucentStatusBar"/>

        <activity
            android:name="._19_rx_java_2.RxJava2MainActivity"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name="._20_annotations.AnnotationDemo"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name="._20_annotations.EliminateBoilerplate"
            android:parentActivityName=".MainActivity"/>


        <activity
            android:name="._21_wave_animation.WaveAnimationActivity"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name="._22_circular_reveal.CreateCircularRevealAnimationActivity"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name="._23_TitanicTextView.TitanicTextViewActivity"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name="._24_shimmering.ShimmeringActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name="._25_pull_to_refresh.Jd_PullToRefreshActivity"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name="._26_min_height.TestWhatEverActivity"
            android:parentActivityName=".MainActivity"
            />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.harris.me.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath"/>

        </provider>


    </application>

</manifest>