<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.me.harris.androidanimations">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".ui.MainActivity"
            android:theme="@style/MainActivityStyle"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".viewAnimations.ViewAnimationActivity"/>
        <activity android:name=".propertyanimations.PropertyAnimationActivity"/>
        <activity android:name=".drawableAnimations.DrawableAnimationActivity"/>


        <!--ApiDemo中部分动画展示-->
        <activity android:name=".apidemo.BouncingBalls"/>
        <activity android:name=".apidemo.ShadowCardDrag"/>
        <activity android:name=".apidemo.MaterialWitness"/>


        <!--Canva相关自定义View展示-->
        <activity android:name=".canvas.activity.CanvasActivity" />
        <activity android:name=".canvas.activity.QQHealthViewActivityV1"/>
        <activity android:name=".canvas.activity.QQHealthViewActivityV2"/>
        <activity android:name=".canvas.activity.AirConditionerViewActivity"/>
        <activity android:name=".canvas.activity.SesameCreditActivity"/>
        <activity android:name=".canvas.activity.LoadingLeafActivity"/>
        <activity android:name=".canvas.activity.ProgressBarViewActivity"/>

    </application>

</manifest>